<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.com.rp3.demo"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme" >
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
        <activity
            android:name="ec.com.rp3.demo.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ec.com.rp3.demo.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ec.com.rp3.demo.ClientSearchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="rp3.accounts.AuthenticatorActivity"
            android:theme="@style/AppTheme.NoTitleBar" >
        </activity>
        <service android:name="rp3.accounts.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>
        <service
                android:name="ec.com.rp3.demo.sync.SyncService"
                android:exported="true"
                android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter" />
        </service>
        <provider
            android:name="rp3.content.StubProvider"
            android:authorities="ec.com.loteria.provider"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>